@import '../../../styles/fonts.scss';

.all-familiars {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.familiar {
    align-items: center;
    display: flex;

    img {
        margin-right: 5px;
    }

    :hover {
        .action {
            visibility: visible;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.name {
    font-weight: bold;
}

.actions {
    visibility: hidden;
}

.action {
    @include font-smaller();

    margin-right: 5px;
    text-decoration: underline;
}

.separator {
    border: 1px solid black;
    height: 0;
    width: 100%;
}
