<kolol-box headline="Manage your Familiar:" [centered]="true" *ngIf="familiars$ | async as fam; else noFamiliars">
    <h3>Current Familiar:</h3>
    <button (click)="onFamiliarDescription(fam.current.id)">
        <img [src]="fam.current.imageUrl" [alt]="fam.current.name" />
    </button>
    <div>{{fam.current.name}}</div>
    <div>{{fam.current.stats}}</div>

    <h3>All Familiars:</h3>

    <div class="all-familiars">
        <div class="familiar" *ngFor="let familiar of fam.familiars">
            <button (click)="onFamiliarDescription(familiar.id)">
                <img [src]="familiar.imageUrl" [alt]="familiar.name" />
            </button>
            <div class="description">
                <div>
                    <span class="name">{{familiar.name}}</span>
                    <span>{{familiar.stats}}</span>
                </div>
                <button class="action" (click)="onSelectFamiliar(familiar)">[take with you]</button>
            </div>
        </div>
    </div>
</kolol-box>

<ng-template #noFamiliars><kolol-spinner></kolol-spinner></ng-template>
