<kolol-box [centered]="true" [headline]="place.name" *ngIf="place$ | async as place; else noPlace">
    <div class="container">
        <img alt="" [src]="place.background.image" [height]="place.background.height" [width]="place.background.width" />
        <ng-container *ngFor="let element of place.elements">
            <button *ngIf="element.url" (click)="tileClicked(element)" class="element" [style]="{left: element.style.left, top: element.style.top, height: element.style.height, width: element.style.width}">
                <img [alt]="element.name" [src]="element.image" [title]="element.name" />
            </button>
            <div *ngIf="!element.url" class="element" [style]="{left: element.style.left, top: element.style.top, height: element.style.height, width: element.style.width}">
                <img alt="" [src]="element.image" />
            </div>
        </ng-container>
    </div>
    <button class="back" (click)="backClicked(place.back.url)">{{place.back.text}}</button>
</kolol-box>

<ng-template #noPlace>No Place</ng-template>