@import '../../../../styles/fonts.scss';

.description {
    text-align: left;
}

.name {
    @include font-small-bold();
}

.stats {
    text-align: left;
}

.outfit {
    display: inline-flex;
    flex-direction: column;
}

.quest-item, .value {
    @include font-small-bold();
}

kolol-desc-effects {
    padding-top: 15px;
}
