<h3>Latest changes</h3>
<ul>
    <li>feature: equipment popup</li>
    <li>feature: outfit popup</li>
    <li>feature: skill effect popup</li>
    <li>bugfix: main map with island</li>
    <li>feature: multiuse popup in inventory</li>
    <li>feature: update charpane on fight end</li>
    <li>feature: repeat/adventure again hotkey</li>
    <li>feature: effect-likes in fight/fight-end</li>
    <li>feature: stats in fight-end</li>
    <li>bugfix: places in menu</li>
    <li>feature: list familiars in familiar page</li>
    <li>feature: change/fav/unfav familiar</li>
    <li>bugfix: casting skills</li>
    <li>feature: cast skills in menu macros</li>
    <li>feature: extend effects in charpane</li>
</ul>
