@import '../../../styles/fonts.scss';

.title {
    @include font-bold();

    background-color: blue;
    color: white;
    height: 18px;
    text-align: center;
}

.content {
    align-items: center;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
