@import '../../../styles/fonts.scss';

.title {
    @include font-bold();

    background-color: blue;
    color: white;
    height: 18px;
    text-align: center;
}

.content {
    background-color: white;
    border: 1px solid blue;
    padding: 8px;
    overflow: auto;
    
    &.centered {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
