:host {
    display: block;
}

.effects {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button, span {
    color: blue;
    font-weight: bold;
}

.effect {
    text-align: center;
}
