.hot {
    color: red;
}

.cold {
    color: blue;
}

.stench {
    color: green;
}

.spooky {
    color: gray;
}

.sleaze {
    color: blueviolet;
}

.epic,.EPIC {
    color: blueviolet;
}

.awesome {
    color: blue;
}

.good {
    color: green;
}

.crappy {
    color: #999;
}
