@mixin font-small-bold {
    // color: black;
    font-size: 13px;
    font-weight: 700;
}

@mixin font-bold {
    font-weight: 700;
}

@mixin font-small {
    font-size: 13px;
}

@mixin font-smaller {
    font-size: 10px;
}

@mixin font-smallest {
    font-size: 9px;
}

@mixin font-normal-underline {
    font-size: 16px;
    text-decoration: underline;
}
