@mixin font-small-bold {
    color: black;
    font-size: 13px;
    font-weight: 700;
}

@mixin font-bold {
    font-weight: 700;
}

@mixin font-small {
    font-size: 13px;
}

@mixin font-smallest {
    font-size: 9px;
}
