@import './fonts.scss';

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.cdk-overlay-connected-position-bounding-box {
    display: flex;
    max-height: 70px;
    max-width: 120px;
    pointer-events: initial;
    position: absolute;
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: fixed;
    pointer-events: none;
}

.cdk-overlay-container {
    position: absolute;
    pointer-events: none;

    &:has(.cdk-global-overlay-wrapper) {
        pointer-events: initial;
    }
}

.tooltip {
    @include font-small();

    background-color: white;
    pointer-events: initial;
    border: 2px solid black;
    outline: 1px solid white;
    text-align: center;
    
    kolol-desc-item, kolol-desc-outfit, kolol-desc-skill-effect, kolol-desc-skill, kolol-desc-familiar {
        padding: 40px 40px 60px 40px;
        width: 270px;
        position: relative;
        display: block;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}

.tooltip-backdrop.cdk-overlay-backdrop-showing {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    pointer-events: initial;
    width: 100%;
}
