<div *ngIf="menu$ | async as menu; else noMenu">
    @for(entry of menu; let i = $index; track trackFn(entry, i)) {
        @if(entry.type === 'macro') {
            <button  title={{entry.name}} [disabled]="entry.skills.length === 0" (click)="onMacro(entry)" class="menu-entry">
                <img alt={{entry.name}} src={{entry.image}} />
            </button>
        } @else {
            <button  title={{entry.name}} [className]="entry.route && currentPath?.endsWith(entry.route) ? 'active menu-entry' : 'menu-entry'" [disabled]="!entry.route && entry.name !== 'Main Map'" routerLink={{entry.route}}>
                <img alt={{entry.name}} src={{entry.image}} />
            </button>
        }
    }
</div>
<ng-template #noMenu><kolol-spinner [fullHeight]="true" [withBox]="false"></kolol-spinner></ng-template>
