:host {
    grid-area: menu;
}

.menu-entry {
    box-sizing: content-box;
    height: 30px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    
    &[disabled] {
        cursor: default;
        opacity: 0.35;
    }
}
