

<div class="header">
    <div *ngIf="playerAvatar$ | async as avatar; else noAvatar">
        <img class="avatar" alt="" src={{avatar}} />
    </div>
    <ng-template #noAvatar>No Avatar</ng-template>
    <div class="stat-header">
        <div class="name">{{userData?.name}}</div>
        <div>Level: {{userData?.progress?.level}}</div>
        <div>{{userData?.playerClass}}</div>
    </div>
</div>

<div>
    <div>Muscle: 
        <span *ngIf="userData?.progress?.muscle?.base === userData?.progress?.muscle?.current; else currentMuscle" class="stat">
            {{userData?.progress?.muscle?.base}}
        </span>
        <ng-template #currentMuscle>
            <span class="stat stat-current">{{userData?.progress?.muscle?.current}}</span>
            <span class="stat">{{' (' + userData?.progress?.muscle?.base + ')'}}
            </span>
        </ng-template>
    </div>
    <div>Mysticallity: 
        <span *ngIf="userData?.progress?.mysticallity?.base === userData?.progress?.mysticallity?.current; else currentMysticallity" class="stat">
            {{userData?.progress?.muscle?.base}}
        </span>
        <ng-template #currentMysticallity>
            <span class="stat stat-current">{{userData?.progress?.mysticallity?.current}}</span>
            <span class="stat">{{' (' + userData?.progress?.mysticallity?.base + ')'}}
            </span>
        </ng-template>
    </div>
    <div>Moxie: 
        <span *ngIf="userData?.progress?.moxie?.base === userData?.progress?.moxie?.current; else currentMoxie" class="stat">
            {{userData?.progress?.moxie?.base}}
        </span>
        <ng-template #currentMoxie>
            <span class="stat stat-current">{{userData?.progress?.moxie?.current}}</span>
            <span class="stat">{{' (' + userData?.progress?.moxie?.base + ')'}}
            </span>
        </ng-template>
    </div>
</div>

<div class="stat-box">
    <img alt="hitpoints" src="https://d2uyhvukfffg5a.cloudfront.net/itemimages/hp.gif" />
    {{userData?.hitPoints?.current}} / {{userData?.hitPoints?.max}}
</div>

<div class="stat-box">
    <img alt="mojopoints" src="https://d2uyhvukfffg5a.cloudfront.net/itemimages/mp.gif" />
    {{userData?.mojoPoints?.current}} / {{userData?.mojoPoints?.max}}
</div>

<div class="stat-box">
    <img alt="adventures" src="https://d2uyhvukfffg5a.cloudfront.net/itemimages/hourglass.gif" />
    {{userData?.adventures}}
</div>

<div class="stat-box">
    <img alt="meat" src="https://d2uyhvukfffg5a.cloudfront.net/itemimages/meat.gif" />
    {{userData?.meat}}
</div>

<section>
    <h5>Current Quest:</h5>
    (TODO)
</section>

<section>
    <h5>Last Adventure:</h5>
    <button class="last-adv" [kololRouting]="userData?.lastAdventure?.link">{{userData?.lastAdventure?.name}}</button>
</section>

<section>
    <h5>Effects:</h5>
    <kolol-effect *ngFor="let effect of userData?.effects" [effect]="effect"></kolol-effect>
</section>

<section>
    <h5>Familiar:</h5>
    (TODO)
</section>