@import '../../styles/fonts.scss';

:host {
    grid-area: charpane;
    padding: 10px;
}

.avatar {
    height: 100px;
    width: 60px;

}

.name {
    @include font-bold();

    text-decoration: none;
}

.stat-box {
    align-items: center;
    display: inline-flex;
    flex-direction: column;

    // TODO: remove
    margin: 10px;

    img {
        height: 30px;
        width: 30px;
    }

    @include font-small-bold();
}

.last-adv {
    text-decoration: underline;
}
.last-adv-place {
    text-decoration: none;
}

section {
    @include font-small();

    h5{
        @include font-small();

        margin-bottom: 7px;
    }

    kolol-effect + kolol-effect {
        margin-top: 5px;
    }
}

.stat-value {
    @include font-bold();
}

.stat-current {
    color: blue;
}

.header {
    align-items: center;
    column-gap: 10px;
    display: flex;
}

.stat-header {
    text-align: center;
}

.stat {
    display: flex;
    padding: 5px;
    gap: 5px;
}

.sub-stat-name {
    text-align: right;
}

.sub-stat {
    display: flex;
    flex-direction: column;
    
    kolol-progress-bar {
        height: 3px;
        width: 50px;
    }
}

.familiar {
    &-wrapper {
        display: flex;
        gap: 5px;

        kolol-progress-bar {
            height: 3px;
            width: 100px;
        
        }
    }

    &-image {
        font-weight: bold;
        text-decoration: underline;
    }

    &-weight {
        font-weight: bold;
    }
}
