<div class="all-skills" *ngIf="skills$ | async as skillData; else noSkills">
    <kolol-skill-section [active]="true" *ngIf="skillData.skills.Buff.length > 0" [skills]="skillData.skills.Buff" skillTitle="Buff"></kolol-skill-section>
    <kolol-skill-section [active]="true" *ngIf="skillData.skills.NotBuff.length > 0" [skills]="skillData.skills.NotBuff" skillTitle="Not-Buff"></kolol-skill-section>
    <kolol-skill-section [active]="false" *ngIf="skillData.skills.CombatSkills.length > 0" [skills]="skillData.skills.CombatSkills" skillTitle="Combat Skills"></kolol-skill-section>
    <kolol-skill-section [active]="false" *ngIf="skillData.skills.PassiveSkills.length > 0" [skills]="skillData.skills.PassiveSkills" skillTitle="Passive Skills"></kolol-skill-section>
</div>

<ng-template #noSkills><kolol-spinner></kolol-spinner></ng-template>
