<kolol-fight-hotkeys [fight]="fight" (action)="onHotkey($event)"></kolol-fight-hotkeys>
<kolol-box [centered]="true" headline="Combat!">
    <div>{{fight.monster.name}}</div>
    <img [alt]="fight.monster.name" [src]="fight.monster.image.url" [height]="fight.monster.image.height" [width]="fight.monster.image.width" >
    <div *ngIf="fight.isFumble" class="fumble">FUMBLE!</div>
    <div *ngIf="fight.isEnemyFumble">{{fight.monster.name}} <span class="fumble">FUMBLES!</span></div>
    <kolol-damage [fight]="fight"></kolol-damage>

    <kolol-item *ngIf="fight.item" [item]="fight.item"></kolol-item>
    <kolol-effect *ngFor="let effect of fight.effectLikes" [effect]="effect"></kolol-effect>

    <div class="buttons">
        <kolol-button
            (clicked)="attack.emit()"    
            text="Attack!"
        ></kolol-button>
        <kolol-button
            *ngIf="fight.jump === 'you'"
            (clicked)="pickPocket.emit()"
            text="Pick pocket!"
        ></kolol-button>
        <kolol-button
            (clicked)="runAway.emit()"    
            text="Run away!"
        ></kolol-button>
    </div>
</kolol-box>
