:host {
    display: block;
    height: 5px;
}

.container {
    height: 100%;
    position: relative;
    width: 100%;
    
    &.with-text {
        align-items: center;
        display: flex;
        width: 200px;

        .bar {
            display: inline-block;
            width: 100px;
        }
    }
}

.bar {
    border: 1px solid #5a5a5a;
    height: 100%;
    position: relative;
}

.fill {
    background-color: #5a5a5a;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text {
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}