<kolol-box [headline]="section?.key ?? ''" *ngIf="!!section?.value?.length && section!.value.length > 0">
    <div class="item" *ngFor="let item of section?.value">
        <button class="image" (click)="descItem.emit(item.descriptionId)">
            <img [alt]="item.name" [src]="item.image" />
        </button>
        <div class="headline">
            <span class="name">{{item.name}}</span><span class="item-count" *ngIf="item.count"> ({{item.count}})</span>
        </div>
        <div class="subline" >
            <button *ngIf="item.action" class="action" (click)="use.emit({ action: item.action, id: item.id })">[{{item.action}}]</button>
            <button #buttonElement *ngIf="item.action2" class="action" (click)="alt(item.id, item.count, item.action2, buttonElement)">[{{item.action2}}]</button>
            <button #buttonElement2 *ngIf="item.action3" class="action" (click)="alt(item.id, item.count, item.action3, buttonElement2)">[{{item.action3}}]</button>
            <button #buttonElement3 *ngIf="item.action4" class="action" (click)="alt(item.id, item.count, item.action4, buttonElement3)">[{{item.action4}}]</button>
            <span class="quality" [ngClass]="['quality', item.quality.toLowerCase()]" *ngIf="item.quality">({{item.quality}}, size: {{item.size}})</span>
        </div>
    </div>
</kolol-box>
