@import '../../../../styles/fonts.scss';

.item {
    display: inline-grid;
    column-gap: 2px;
    grid-template-areas:
    'image headline'
    'image subline';
    grid-template-columns: min-content auto;
    margin: 5px;
}

img {
    grid-area: image;
}

.name {
    @include font-bold();

    grid-area: name;
}

.headline {
    grid-area: headline;
}

.subline {
    display: flex;
    grid-area: subline;
    column-gap: 2px;
}

.action {
    @include font-smaller();

    cursor: pointer;
    text-decoration: underline;
}

.quality {
    @include font-smaller();

    grid-area: quality;

    &.epic {
        color: blueviolet;
    }

    &.awesome {
        color: blue;
    }

    &.good {
        color: green;
    }

    &.crappy {
        color: #999;
    }
}