<kolol-box [centered]="true" *ngIf="shopData$ | async as shop; else noShop" [headline]="shop.title">
    
    <div class="header">
        <h3>{{shop.name}}</h3>
        <img [alt]="shop.name" [src]="shop.image">
        <div class="text">{{shop.text}}</div>
    </div>


    <table>
        <tr>
            <th>Item:</th>
            <th>Price:</th>
        </tr>
        <tr *ngFor="let item of shop.items">
            <td><div class="item-text"><img [alt]="item.name" [src]="item.image" >{{item.name}}</div></td>
            <td><div class="item-text"><img alt="Meat" src="https://d2uyhvukfffg5a.cloudfront.net/itemimages/meat.gif">{{item.cost}}</div></td>
            <td><kolol-button [disabled]="item.disabled" text="Buy" (clicked)="buyItem(item.buy, shop.pwd)"></kolol-button></td>
        </tr>
    </table>
    <a [kololRouting]="shop.back.url">{{shop.back.text}}</a>
</kolol-box>

<ng-template #noShop>
    <p>no shop</p>
</ng-template>
